*.o
*.exe
*.tar.gz
*.tgz
*.zip
z33-cli*
0.1-c-ptr/calc
0.2-c-setbit/setbit
0.3-c-decoupe/decoupe
2.1-thr-indep/somme
2.2-thr-async/async
2.3-thr-fichiers/fichiers
2.4-thr-dep/serpar
2.5-thr-montecarlo/montecarlo
3.1-bar-avion/embarq
3.2-bar-lignes/pbar
4.1-mutex-compteur/thr
4.1-mutex-compteur/thrmutex
4.2-mutex-granularite/ctypes-global
4.2-mutex-granularite/ctypes-local
4.2-mutex-granularite/ctypes-unique
4.3-mutex-bavards/bavards
4.3-mutex-bavards/bavards-ok
5.1-sem-compteur/thr-sem
5.2-sem-coiffeur/coiffeur
5.3-sem-prodcons/tampon
5.4-sem-dep/semdep
5.4-sem-dep/semdep2
6.1-cond-ccalc/ccalc
6.2-cond-mbox/mbox
6.3-cond-cuisine/cuisine
6.4-cond-sem/cat2th
6.4-cond-sem/ex3th
7.1-shmem-fin/fin
7.2-shmem-philo/philo
7.2-shmem-philo/philo-interb
7.2-shmem-philo/philo-term
7.2-shmem-philo/table
7.2-shmem-philo/table-interb
7.2-shmem-philo/table-term
